@using OnlineShop.Shared.Models
@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthStateProvider
@inject CartApiClient CartApiClient

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.ShoppingBag())" IconColor="Color.Accent">Shop</FluentNavLink>
            <FluentCounterBadge Count="cartItemsCount" Appearance="Appearance.Neutral" VerticalPosition="20">
                <FluentNavLink Href="/cart" Icon="@(new Icons.Regular.Size20.Cart())" IconColor="Color.Accent">Shopping Cart</FluentNavLink>
            </FluentCounterBadge>
            <FluentNavGroup Expanded="false" Title="Account" Icon="@(new Icons.Regular.Size20.Person())" IconColor="Color.Accent">
                <FluentNavLink Href="/user" Icon="@(new Icons.Regular.Size20.PersonAccounts())" IconColor="Color.Accent">Profile</FluentNavLink>
                <FluentNavLink Href="/user" Icon="@(new Icons.Regular.Size20.AppsList())" IconColor="Color.Accent">My Orders</FluentNavLink>
            </FluentNavGroup>
            <AuthorizeView Roles="@Roles.Admin">
                <FluentNavGroup Expanded="false" Title="Admin" Icon="@(new Icons.Regular.Size20.EditPerson())" IconColor="Color.Accent">
                    <FluentNavLink Href="/admin/products/add" Icon="@(new Icons.Regular.Size20.Add())" IconColor="Color.Accent">Add Product</FluentNavLink>
                    <FluentNavLink Href="/admin/products/editdelete" Icon="@(new Icons.Regular.Size20.Edit())" IconColor="Color.Accent">Edit/Delete Product</FluentNavLink>
                    <FluentNavLink Href="/admin/users" Icon="@(new Icons.Regular.Size20.AppsListDetail())" IconColor="Color.Accent">User Management</FluentNavLink>
                </FluentNavGroup>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = false;

    private int cartItemsCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //todo get cart for user if logged in
            var user = await AuthStateProvider.GetAuthenticationStateAsync();

            if (user == null || !user.User.Identity.IsAuthenticated)
            {
                cartItemsCount = 0;
                return;
            }

            var cart = await CartApiClient.GetCartDetailsAsync();
            cartItemsCount = cart.CartItems.Count();

            StateHasChanged();
        }
    }
}
